img {
  border: 5px solid white;
  width: 100%;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: bold;
  text-transform: uppercase;
}
#image {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.text {
  text-align: center;
  color: white;
}
body{
  background-color: black;
}